<div class="field">
  <%= f.label :account_id %> <%= f.collection_select(:account_id, User.all, :id, :username) %>
  <small><%= f.link_to_remove "Remove this member" %></small><br />
  <%= f.label :role %> <%= f.select(:role, Membership::ROLES) %> 
</div>


