  <div class="tabs">
    <% if logged_in? && admin_for_project(@project) %>
      <%= link_to image_tag("edit_settings.png", :alt => "Edit Projects Settings"), edit_account_project_path(@project.owner, @project) %>
      <%= link_to image_tag("delete-1.png", :alt => "Delete"), account_project_path(@project.owner, @project), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>

<p><%= link_to "View all projects of the Owner", account_path(@project.owner) %></p>
<p><%= link_to "View definitions/concepts of the project", account_project_definitions_path(@project.owner, @project) %></p>
<p><%= link_to "View contexts of the project", account_project_contexts_path(@project.owner, @project) %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
<p>
  <strong>Shortcut:</strong>
  <%= @project.shortcut %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Subject:</strong>
  Die Kategorie: Excavation, Stratigrafie, Philology, Archaeology
</p>


<% content_for :col2 do %>
  <h4>Members</h4>
  <ul>
    <% for membership in @project.memberships %>
      <li>
        <%= image_tag avatar_url(membership.account, 35) %>
        <%= link_to "#{membership.account.username}", account_path(membership.account) %> as a <%= membership.role %>
      </li>
    <% end %>

  </ul>
  <p>
    <strong>Owner:</strong>
    <%= @project.owner.username %>
  </p>
  <p>
    <strong>Created by </strong>
    <%= @project.creator.username %>
  </p>
  <p>
    <strong>Last updated by </strong>
    <%= @project.updater.username %>
  </p>
<% end %>