<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Untitled" %>
    </title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="container">
          <div id="logo">
            <%= link_to image_tag("logo-v1.png", :mouseover => image_path("logo-v1-hover.png")), root_url %>
          </div>
          <% if logged_in? %>
            <div id="topsearch">
              <%= search_field_tag :search, '', :size => 40 %>
              <%= image_submit_tag(("search_button.png"), :class => "search_button") %>
            </div>

            <div id="userbox">
                <div class="name">
                  <div class="username">
                    <% if current_user.fullname.present? %>
                      <%= link_to "#{current_user.fullname}", account_path(current_user) %>
                    <% else %>
                      <%= link_to "#{current_user.username}", account_path(current_user) %>
                    <% end %>
                  </div>
                  <% if aspect? %>
                    <div class="aspect">
                      <%= link_to "#{current_aspect.username}", account_path(current_aspect) %>
                      <%= link_to "(exit)", exit_aspect_path %>
                    </div>
                  <% end %>
                </div>
                <div id="dropdown">
                  <ul>                  
                    <li class="has-sub">
                      <%= link_to image_tag(avatar_url(current_user, 40)), account_path(current_user) %>
                      <ul>
                        <li><%= link_to 'Your Profile', account_path(current_user) %></li>
                        <li><%= link_to 'Settings',  edit_current_user_path %></li>
                        <li><%= link_to 'New project', new_account_project_path(current_user) %></li>
                        <li class="has-sub"> 
                          <%= link_to 'Change aspect' %>
                          <ul>
                            <% for fellowship in current_user.fellowships.admin %>
                            <% unless current_aspect == fellowship.organisation %>
                              <li><%= link_to "#{fellowship.organisation.username}", change_aspect_path(:organisation_id => fellowship.organisation.id) %></li>
                            <% else %>
                              <%= link_to "Exit aspect", exit_aspect_path %>
                            <% end %>
                            <% end %>
                          </ul>
                        </li>
                        <li><%= link_to 'Logout', logout_path %></li>
                      </ul>                
                    </li>
                  </ul>
                </div>
            </div>

          <% else %>
            <div id="not_signed_in">
              <ul class="topnav">
                <li class='first'><%= link_to "Sign up", signup_path %></li>
                <li><%= link_to "Explore" %></li>
                <li><%= link_to "Log in", login_path %> </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div id="site">
        <div class="container">
          <div id="notice">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div>
          <div id="content">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="upper-footer">
          <div class="container">
            <p>Hier kommen von der Blog und Hilfeseite freigegebene Beiträge hin. In Kategorien. Max 7 pro Kategorie, max 3 Kategorien und Standardlinks</p>
            <p><%= params %></p>
          </div>
        </div>
        <div class="lower-footer">
          <div class="container">
            <div id="legal">
              <p>Footer unten</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
