<div id="tabnav">
  <% if logged_in? && current_user == @account %>
    <%= link_to image_tag('edit.svg') + "Edit Your Profile", edit_current_user_path, :class => 'minibutton' %>
  <% end %>
  <% if admin_for_organisation(@account) %>
    <%= link_to 'Edit Organisation', edit_organisation_path(@account), :class => 'minibutton' %>
  <% end %>
  <ul class="tabs">
    <li><a href="#memberships">Memberships</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>
</div>

<div id="details">
  <p><%= @account.interests %><p>
</div>

<div id="panes">
  <% if @account.type == 'Organisation' %>

    <h3>Fellows of this organisation</h3>
    <% for fellow in @account.fellowships %>
      <p><%= link_to "#{fellow.user.username}", account_path(fellow.user) %>(<%= fellow.role %>)</p>
    <% end %>
    <br />


  <% else %>

    <h3>Fellow in organisations</h3>
    <% for fellow in @account.fellowships %>
      <p><%= link_to "#{fellow.organisation.username}", account_path(fellow.organisation) %>(<%= fellow.role %>)</p>
    <% end %>
    
    <div id="memberships">
      <h3>Member in projects</h3>
      <% if @account.memberships.present? %>
        <% for membership in @account.memberships %>
          <div class="project-entry">
            <p class="link">
              <%= link_to "#{membership.project.owner.username}", account_path(membership.project.owner) %> / 
          <%= link_to "#{membership.project.name}", account_project_path(membership.project.owner, membership.    project) %> <span class="role-name">(<%= membership.role %>)</span>
            </p>
          </div>
        <% end %>
      <% else %>
        <p><%= @account.username %> is not a member in any project</p>
      <% end %>
  </div>

  <% end %>

  <div id="projects">
    <h3>Projects</h3>
    <% if @account.own_projects.present? %>
      <% for own_project in @account.own_projects %>
        <div class="project-entry">
          <p class="link">
            <%= link_to "#{own_project.name}", account_project_path(@account, own_project) %>
            <span class="created_at">Created on <%= own_project.created_at.strftime("%b %d, %Y") %></span>
          </p>
          <p class="description"><%= own_project.description %></p>
        </div>
      <% end %>
    <% else %>
      <% if current_user == @account %>
      <p>You did not create any projects yet. <%= link_to 'Add a new project', new_account_project_path(  current_user) %></p>
      <% else %>
        <p><%= @account.username %> has no projects yet.</p>
      <% end %>
    <% end %>
  </div>
</div>